<div class="updatePopup custom-container" custom-dialog>
  <div class="heading">
    <span mat-dialog-title class="title">Ticket Details </span>
<button class="cross" mat-icon-button color="primary" (click)="onNoClick()" aria-label="Example icon button with a home icon">
  <mat-icon>close</mat-icon>
</button>
  </div>

<div mat-dialog-content>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input type="text" matInput [(ngModel)]="data.title" name="title" id="title">
          </mat-form-field>
      
    </div>
   
    <div>
        <mat-form-field class="example-full-width">
        <mat-label>Status</mat-label>
      
        <mat-select [(value)]="selected" [(ngModel)]="data.status"  name="status" id="status">
          
          <mat-option value="ToDo">ToDo</mat-option>
          <mat-option value="InProgress">InProgress</mat-option>
          <mat-option value="RFM">RFM</mat-option>
          <mat-option value="QA">QA</mat-option>
          <mat-option value="QA FAILED">QA FAILED</mat-option>
          <mat-option value="DONE">DONE</mat-option>
        </mat-select>
  </mat-form-field>
  <p>You selected: {{selected}}</p>
    </div>
    
   
    
</div>
<div mat-dialog-actions>
  
  <button mat-button class="saveButton"  cdkFocusInitial (click)="updateTicket()" >Save Changes</button>
  <button mat-button class="deleteButton" (click)="deleteTicket(data.id)" >Delete</button>

</div>
</div>























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































